<%= render 'home/header' %>

<div class="container" style="padding-bottom: 1em">

	<h1>Edycja kroku</h1>

	<%= render 'form', recipe_step: @recipe_step %>

	<h2>Składniki</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Ilość (g)</th>
				<th>Składnik</th>
				<th>Opcje</th>
			</tr>
		</thead>

		<tbody>
			<% @ingredients.zip(@amounts, @join).each do |ingredient, amount, join| %>
			<tr>
				<td><%= amount %></td>
				<td><%= ingredient.name %></td>
				<td><%= link_to 'Usuń', join, method: :delete, data: {confirm: "Na pewno?"} %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to 'Dodaj składnik', new_steps_ingredients_join_path(:recipe_step_id => @recipe_step), class: 'btn btn-success' %>

	<%= link_to 'Pokaż', @recipe_step, class: 'btn btn-info' %>
	<%= link_to 'Wstecz', :back, class: 'btn btn-info' %>

</div>
