<p id="notice"><%= notice %></p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe_step.instructions %>
</p>

<p>
  <strong>Prep time:</strong>
  <%= @recipe_step.prep_time %>
</p>

<p>
  <strong>Cook time:</strong>
  <%= @recipe_step.cook_time %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_step.recipe_id %>
</p>

<p>
  <strong>Number</strong>
  <%= @recipe_step.number %>
</p>

<%= link_to 'Edit', edit_recipe_step_path(@recipe_step) %> |
<%= link_to 'Back', edit_recipe_path(@recipe) %>
