<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<h2>Kroki</h2>

<table>
  <thead>
  <tr>
    <th>Numer</th>
    <th>Opis</th>
    <th>Czas przygotowania</th>
    <th>Czas pieczenia</th>
    <th colspan="4">Opcje</th>
  </tr>
  </thead>

  <tbody>
  <% @recipe_steps.each do |recipe_step| %>
      <tr>
        <td><%= recipe_step.number %></td>
        <td><%= recipe_step.instructions %></td>
        <td><%= recipe_step.prep_time %></td>
        <td><%= recipe_step.cook_time %></td>
        <td><%= link_to 'Pokaż', recipe_step %></td>
        <td><%= link_to 'Edytuj', edit_recipe_step_path(recipe_step) %></td>
        <td><%= link_to 'Usuń', recipe_step, method: :delete, data: { confirm: 'Na pewno?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj krok', new_recipe_step_path(:recipe => @recipe) %><br>

<%= link_to 'Pokaż', @recipe %> |
<%= link_to 'Wstecz', recipes_path %>
