<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<h2>Images</h2>
<%= link_to 'Edit Images', '#' %><br>

<h2>Steps</h2>

<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Prep time</th>
    <th>Cook time</th>
    <th>Number</th>
    <th colspan="4">Options</th>
  </tr>
  </thead>

  <tbody>
  <% @recipe_steps.each do |recipe_step| %>
      <tr>
        <td><%= recipe_step.number %></td>
        <td><%= recipe_step.instructions %></td>
        <td><%= recipe_step.prep_time %></td>
        <td><%= recipe_step.cook_time %></td>
        <td><%= link_to 'Show', recipe_step %></td>
        <td><%= link_to 'Edit', edit_recipe_step_path(recipe_step) %></td>
        <td><%= link_to 'Destroy', recipe_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add step', new_recipe_step_path(:recipe => @recipe) %><br>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
