<%= render 'home/header' %>

<p id="notice">
	<%= notice %>
</p>

<div class="container" style="padding-bottom: 1em;">

	<h1 style="text-align: center">Przepisy</h1>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nazwa</th>
				<th>Opis</th>
				<th colspan="3">Opcje</th>
			</tr>
		</thead>

		<tbody>
			<% @recipes.each do |recipe| %>
			<tr>
				<td><%= recipe.name %></td>
				<!--<td><%= recipe.description.first(120) %></td>-->
				<td><%= recipe.description %></td>
				<td><%= link_to 'Pokaż', recipe %></td>
				<td><%= link_to 'Edytuj', edit_recipe_path(recipe) %></td>
				<td><%= link_to 'Usuń', recipe, method: :delete, data: { confirm: 'Na pewno?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Nowy przepis', new_recipe_path, class: 'btn btn-success' %>

</div>
