<p id="notice"><%= notice %></p>

<h2>
  Info
</h2>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
<h2>Steps</h2>
<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Instructions</th>
    <th>Prep time</th>
    <th>Cook time</th>
  </tr>
  </thead>

  <tbody>
  <% @recipe_steps.each do |recipe_step| %>
      <tr>
        <td><%= recipe_step.number %></td>
        <td><%= recipe_step.instructions %></td>
        <td><%= recipe_step.prep_time %></td>
        <td><%= recipe_step.cook_time %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
