<%= render 'home/header' %>

<p id="notice"><%= notice %></p>

<h2>
  Informacje
</h2>
<p>
  <strong>Nazwa:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @recipe.description %>
</p>

<p>
<h2>Kroki</h2>

<% @recipe_steps.each do |recipe_step| %>
    <h3>Krok <%= recipe_step.number %></h3>
    <hr>
    <%= recipe_step.instructions %><br>
    Czas przygotowania składników: <%= recipe_step.prep_time ? recipe_step.prep_time.to_s + " min." : "-" %><br>
    Czas gotowania: <%= recipe_step.cook_time ? recipe_step.cook_time.to_s + " min." : "-" %><br>
    <h4>Składniki</h4>
    <% if @all_info[recipe_step.number] == nil then
         next
       end %>
    <% @all_info[recipe_step.number].each do |ingredients| %>
        <%= ingredients.second %>g
        <%= ingredients.first %><br>
    <% end %>
<% end %>

</p>

<%= link_to 'Edytuj', edit_recipe_path(@recipe) %> |
<%= link_to 'Wstecz', :back %>
