<%= render 'home/header'%>

<p id="notice">
	<%= notice %>
</p>

<div class="container" style="padding-bottom: 1em;">

	<h1 style="text-align: center">Składniki</h1>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nazwa</th>
				<th colspan="3">Opcje</th>
			</tr>
		</thead>

		<tbody>
			<% @ingredients.each do |ingredient| %>
			<tr>
				<td><%= ingredient.name %></td>
				<td><%= link_to 'Pokaż', ingredient %></td>
				<td><%= link_to 'Edytuj', edit_ingredient_path(ingredient) %></td>
				<td><%= link_to 'Usuń', ingredient, method: :delete, data: { confirm: 'Na pewno?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Nowy składnik', new_ingredient_path, class: "btn btn-success" %>

</div>
