<%= form_for(steps_ingredients_join) do |f| %>
<% if steps_ingredients_join.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(steps_ingredients_join.errors.count, "error") %> prohibited this steps_ingredients_join from
	being saved:</h2>

	<ul>
		<% steps_ingredients_join.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :recipe_step_id %>
	<%= f.text_field :recipe_step_id, readonly: true, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.label :ingredient_id %>
	<%= f.collection_select :ingredient_id, Ingredient.order(:name), :id, :name, {include_blank: false}, {class: "form-control"} %>
</div>

<div class="form-group">
	<%= f.label :amount %>
	<%= f.number_field :amount, class: 'form-control' %>
</div>

<div class="actions">
	<%= f.submit 'Dodaj składnik do kroku', class: 'btn btn-success' %>
</div>
<% end %>
