<p id="notice"><%= notice %></p>

<h1>Steps Ingredients Joins</h1>

<table>
  <thead>
    <tr>
      <th>Recipe step</th>
      <th>Ingredient</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps_ingredients_joins.each do |steps_ingredients_join| %>
      <tr>
        <td><%= steps_ingredients_join.recipe_step.id %></td>
        <td><%= steps_ingredients_join.ingredient.id %></td>
        <td><%= steps_ingredients_join.amount %></td>
        <td><%= link_to 'Show', steps_ingredients_join %></td>
        <td><%= link_to 'Edit', edit_steps_ingredients_join_path(steps_ingredients_join) %></td>
        <td><%= link_to 'Destroy', steps_ingredients_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Steps Ingredients Join', new_steps_ingredients_join_path %> |
<%= link_to 'Recipes', recipes_path %> |
<%= link_to 'Ingredients', ingredients_path %>
