<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Recipe step:</strong>
	<%= @steps_ingredients_join.recipe_step %>
</p>

<p>
	<strong>Ingredient:</strong>
	<%= @steps_ingredients_join.ingredient %>
</p>

<p>
	<strong>Amount:</strong>
	<%= @steps_ingredients_join.amount %>
</p>

<%= link_to 'Edit', edit_steps_ingredients_join_path(@steps_ingredients_join) %> |
<%= link_to 'Back', steps_ingredients_joins_path %>
